<?xml version="1.0" encoding="utf-8"?>
<Configuration status="warn" monitorInterval="30">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout alwaysWriteExceptions="true"
        pattern="%5p %d{HH:mm:ss.SSS} (%F:%L) %notEmpty{[%X{REQTYPE}] }%notEmpty{[%marker] }%K{event.end}%m%n%xEx{full}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>